.App {
	text-align: center;
}

html {
	/* ff 3.6+ */
	background: -moz-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* opera 11.10+ */
	background: -o-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* ie 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31DCFF', endColorstr='#4CAF50', GradientType=0 );

	/* ie 10+ */
	background: -ms-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* global 94%+ browsers support */
	background: linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);
}

#root > div > div > h2 {
	font-family: 'Markazi Text', serif;
	font-size: 70px;
}

#data {
	font-family: 'Halant', serif;
	font-size: 30px;
}

#data > strong {
	font-size: 45px;
	color: #a91a1a;
}

#button-24 {
	background: #539987;
	border: 1px solid #539987;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
}

#button-24:hover,
#button-24:active {
	background-color: initial;
	background-position: 0 0;
	color: black;
}

#button-24:active {
	opacity: 0.5;
}

#select {
	position: relative;
	display: block;
	margin: 0 auto;
	font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial',
		sans-serif;
	font-size: 18px;
	color: #60666d;
	box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
	cursor: pointer;
	outline: none;
  opacity: 1;
}
