.App {
	text-align: center;
}

html {
	/* ff 3.6+ */
	background: -moz-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* opera 11.10+ */
	background: -o-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* ie 6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31DCFF', endColorstr='#4CAF50', GradientType=0 );

	/* ie 10+ */
	background: -ms-linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);

	/* global 94%+ browsers support */
	background: linear-gradient(
		90deg,
		rgba(76, 175, 80, 1) 0%,
		rgba(49, 220, 255, 1) 100%
	);
}

#root > div > div > h2 {
	font-family: 'Markazi Text', serif;
	font-size: 60px;
}

#data {
	font-family: 'Halant', serif;
  font-size: 30px;
  
}


#data > strong{
  font-size: 40px;
}